.x-message {
	@apply inline-flex items-center relative justify-start rounded cursor-default;
}
.x-message__backdor,
.x-message__outline {
	@apply absolute top-0 left-0 w-full h-full rounded-inherit contain-layout pointer-events-none;
}

.x-message__outline {
	@apply border-inherit border-0 -z-10;
}

.x-message__backdor {
	@apply hidden -z-20;
	background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.x-message__content {
	@apply py-2 px-6;
}
.x-message__content .x-icon {
	@apply -ml-2 mr-2;
}
.x-message__close {
	@apply absolute top-0 right-0 leading-none;
}

.x-message--square {
	@apply rounded-none;
}

.x-message--outline .x-message__outline {
	@apply border;
}

.x-message--underlined-top .x-message__outline {
	@apply border-t-4;
}
.x-message--underlined-bottom .x-message__outline {
	@apply border-b-4;
}

.x-message--underlined-left .x-message__outline {
	@apply border-l-4;
}

.x-message--underlined-right .x-message__outline {
	@apply border-r-4;
}

$colors: primary, secondary, accent, positive, negative, info, warning, surface, dark;

@each $color in $colors {
	.x-message--#{$color} {
		@apply border-#{$color} text-#{$color};
	}
}

.x-message:where(
		.x-message--primary,
		.x-message--secondary,
		.x-message--accent,
		.x-message--positive,
		.x-message--negative,
		.x-message--info,
		.x-message--warning,
		.x-message--surface,
		.x-message--dark
	)
	.x-message__backdor {
	@apply block;
}
