@import "../vars/btn";
@import "../vars/base";
@import "../tools/namespace";
@import "../mixins/base";
@import "../mixins/typography";
@import "../mixins/gradients";

@include namespace('@btn') {
	@include name {
		display: inline-flex;
		flex: 0 0 auto;
		justify-content: center;
		align-items: stretch;
		position: relative;
		outline: 0;
		outline: none;
		border: 0;
		vertical-align: middle;
		white-space: nowrap;
		touch-action: manipulation;
		text-decoration: none;
		color: inherit;
		background: transparent;
		text-align: center;
		width: auto;
		height: auto;
		cursor: default;
		user-select: none;
		box-sizing: border-box;
		appearance: none;

		box-shadow: none;

		padding: $btn-padding-y $btn-padding-x;
		font-size: $btn-font-size;
		line-height: $btn-line-height;
		font-weight: $btn-font-weight;
		border-radius: $btn-border-radius;


		@include focus() {
			outline: 0;
			outline: none;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			border-radius: inherit;
			border-color: currentColor;
			background: currentColor;
		}



		@include hover {
			&:before {
				opacity: 0.10;
			}
		}
		@include focus {
			&:before {
				opacity: 0.24;
			}
		}
		@include active {
			&:before {
				opacity: 0.18;
			}
		}
	}
	@include name(null, disabled) {
		opacity: 0.7 !important;
		pointer-events: none;
	}
	@include name(null, round) {
		border-radius: 50%;
		padding: 0;
		min-width: 3em;
		min-height: 3em;
	}
	@include name(null, rounded) {
		border-radius: 100px;
	}
	@include name(null, square) {
		border-radius: 0;
	}
	@include name(null, outline text) {
		background: transparent !important;
	}
	@include name(null, outline) {
		border: 1px solid currentColor;
	}
	@include name(null, flat) {
		&:before {
			box-shadow: none
		}
	}
	@include name(null, tonal) {
		&:before {
			opacity: 0.07;
		}
	}

	@include name(null, dense) {
		padding: $btn-dense-padding;
	}


	@include name(null, block) {
		display: block;
		width: 100%;
		max-width: 100%;
	}

	@include name(null, default) {
		color: $btn-color;
		background: $btn-bg;
	}


	@include name(content) {
		transition: opacity .3s;
		z-index: 0;
		display: flex;
		flex: 1 0 auto;
		justify-content: inherit;
		align-items: center;
		color: inherit;
		line-height: normal;
		position: relative;
	}
	@include name(content, hidden) {
		opacity: 0;
		pointer-events: none;
	}
}

