@import "../../scss/tools/namespace";
@import "../../scss/tools/color";
@import "../../scss/mixins/base";

@import "../../scss/vars/colors";


$spacer: 1rem !default;
$xLayout-font-size: 1rem !default;
$xLayout-line-height: 1.15 !default;

$xLayout-header-font-size: 2 * $xLayout-font-size !default;
$xLayout-header-line-height: 1.5 !default;
$xLayout-header-min-height: 1 * $xLayout-header-line-height * $spacer !default;
$xLayout-header-max-height: 4 * $xLayout-header-line-height * $spacer !default;

$xLayout-footer-font-size: $xLayout-font-size !default;
$xLayout-footer-line-height: 1.5 !default;
$xLayout-footer-min-height: 1 * $xLayout-footer-line-height * $spacer !default;
$xLayout-footer-max-height: 4 * $xLayout-footer-line-height * $spacer !default;

$xLayout-sidebar-width: 200px !default;
$xLayout-sidebar-min-width: 150px !default;
$xLayout-sidebar-max-width: 400px !default;

$xLayout-resizer-width: .5rem !default;

@include namespace('@xSideBar', true) {
  @include name {
    --x-sidebar-bg: #{$dimmed-background};
    --x-sidebar-border: #{$separator-color};
    --x-sidebar-res-bg: #{$dimmed-background};
  }

  .theme--dark {
    @include name {
      --x-sidebar-bg: #{rgba($dimmed-dark-background, .1)};
      --x-sidebar-border: #{$separator-dark-color};
      --x-sidebar-res-bg: #{$dimmed-dark-background};
    }
  }

  @include name {
    position: absolute;
    overflow: hidden;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    background: var(--x-sidebar-bg);
    border: 0 solid var(--x-sidebar-border);
    top: 0;
    right: 0;
  }

  @include name (res) {
    width: $xLayout-resizer-width;
    cursor: col-resize;
    background: var(--x-layout-sidebar-bg);
    position: absolute;
    top: 0;
    bottom: 0;

    &:after {
      display: block;
      width: 100%;
      height: 100%;
      content: " ";
      background-image: url('../../../../assets/images/sidebar-divider-dots.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  @include name (content) {
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--x-sidebar-bg);
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }

  @include name(null, left) {
    left: 0;
    padding-right: $xLayout-resizer-width;
    border-right-width: 1px;
    @include name (res) {
      right: 0;
    }
    @include name (content) {
      left: 0;
    }
  }

  @include name(null, right) {
    right: 0;
    padding-left: $xLayout-resizer-width;
    border-left-width: 1px;
    @include name (res) {
      left: 0;
    }
    @include name (content) {
      right: 0;
      min-width: 56px;
    }
  }

  

  @include name (null, folded) {
    width: 56px;
    padding-left: 0;
    padding-right: 0;
    @include name (res) {
      display: none;
    }
    &:hover {
      overflow: visible;
    }
  }
}

@include namespace('@xLayout', true) {
  @include name {
    --x-layout-bg: #fff;
    --x-layout-border: #{$separator-color};
    --x-layout-sidebar-bg: #{$dimmed-background};
    --x-layout-res-bg: #{$dimmed-background};
  }

  .theme--dark {
    @include name {
      --x-layout-bg: #{$dark-page};
      --x-layout-border: #{$separator-dark-color};
      --x-layout-sidebar-bg: #{rgba($dimmed-dark-background, .1)};
      --x-layout-res-bg: #{$dimmed-dark-background};
    }
  }

  @include name {
    width: 100%;
    height: 100%;
  }

  @include name (container) {
    position: relative;
    width: 100%;
    height: 100%;

    > {
      @include name {
        height: 100%
      }
    }
  }

  @include name(sidebar) {
    //min-width: $xLayout-sidebar-min-width;
    max-width: $xLayout-sidebar-max-width;
  }

  @include name(null, core) {
    background: url('../../../../assets/images/kosmos-ec26025d6442.jpg') no-repeat fixed left top/cover;
    background-position: top calc(15% - 30px);

    @include name(header) {
      &:before {
        background: url('../../../../assets/images/kosmos-ec26025d6442.jpg') no-repeat fixed left top/cover;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: " ";
        filter: url('../../../../assets/images/filter.svg#blur');
      }
    }
  }

  @include name (header footer) {
    border: 0 solid var(--x-layout-border);
  }


  @include name (header footer) {
    max-width: 100%;
    position: absolute;
    min-height: 48px;
    left: 0;
    right: 0;
    background-color: var(--x-layout-bg);
  }

  @include name (header) {
    top: 0;
    border-bottom-width: 1px;
  }

  @include name (footer) {
    bottom: 0;
    border-top-width: 1px;
  }

  @include name (body) {
    padding: 0;
  }
}