.x-item {
	@apply flex flex-nowrap relative min-h-12 px-4 py-2 text-inherit transition ease-in-out duration-300 cursor-default;
}
.x-item--vertical {
	@apply flex-col;
}
.x-item--active {
	@apply text-primary;
}
.x-item--clickable {
	@apply cursor-pointer;
}
.x-item--disabled,
.x-item:has(input:disabled) {
	@apply cursor-not-allowed opacity-60;
}

.x-item---vertical .x-item__section + .x-item__section {
	@apply mt-2;
}

.x-item--dense,
.x-list--dense .x-item {
	@apply min-h-8 px-2 py-1;
}

.x-item__underlay {
	@apply absolute right-0 top-0 w-full h-full contain-layout -z-10 transition ease-in-out duration-300;
}
.x-item__underlay {
	@apply bg-current opacity-0;
}
.x-item:not(.x-item--disabled):not(:has(input:disabled)):not(:disabled):hover
	> .x-item__underlay {
	@apply opacity-15;
}

.x-item:not(.x-item--vertical) .x-item__section--main + .x-item__section--main {
	@apply ml-2;
}
.x-item__section {
	@apply flex flex-col justify-center pr-4 items-start w-auto min-w-0 max-w-full;
}
.x-item__section--main {
	@apply flex-1;
}
.x-item__section--top {
	@apply justify-start;
}
.x-item__section--nowrap {
	@apply text-nowrap;
}
.x-item__section--thumbnail img {
	@apply max-h-14 max-w-24 h-auto w-auto;
}
.x-item__section ~ .x-item__section--side {
	@apply items-end pl-4 pr-0;
}
.x-item__section--side > .x-icon {
	@apply text-2xl/[1];
}

.x-item > .x-item__section--thumbnail:first-child,
.x-item > .x-item__underlay + .x-item__section--thumbnail {
	@apply -ml-4;
}
.x-item > .x-item__section--thumbnail:last-of-type {
	@apply -mr-4;
}

.x-item__section--main.x-item__section--thumbnail {
	@apply ml-0 -mr-4;
}

.x-item__label {
	@apply max-w-full;
}
.x-item__label--header {
	@apply p-4 opacity-65;
}
.x-item__label--overline {
	@apply text-xs font-medium tracking-widest uppercase opacity-70;
}
.x-item__label--caption {
	@apply text-xs font-normal opacity-60;
}
.x-item__label--lines {
	@apply truncate;
}
