.x-item {
	@apply flex flex-nowrap relative min-h-12 px-4 py-2 text-inherit transition duration-300 cursor-default;
	&--active {
		@apply text-primary;
	}
	&--clickable {
		@apply cursor-pointer;
	}
	&--disabled,
	&:has(input:disabled) {
		@apply cursor-not-allowed opacity-60;
	}
}

.x-item--dense,
.x-list--dense .x-item {
	@apply min-h-8 px-2 py-1;
}

.x-item__backdor {
	@apply absolute right-0 top-0 w-full h-full contain-layout -z-10;
}
.x-item__backdor {
	@apply bg-black opacity-0;
}
.x-item:not(.x-item--disabled):not(:disabled):hover > .x-item__backdor {
	@apply opacity-20;
}
.x-item__section {
	@apply flex flex-col justify-center pr-4 items-start w-auto min-w-0 max-w-full;
	&--main {
		@apply flex-1;
		& + & {
			@apply ml-2;
		}
	}
	&--top {
		@apply justify-start;
	}
	&--nowrap {
		@apply text-nowrap;
	}
	&--thumbnail img {
		@apply max-h-14 max-w-24 h-auto w-auto;
	}
	& ~ &--side {
		@apply items-end pl-4 pr-0;
	}
	&--side > .x-icon {
		@apply text-2xl/[1];
	}
}

.x-item {
	> .x-item__section--thumbnail:first-child,
	> .x-item__backdor + .x-item__section--thumbnail {
		@apply -ml-4;
	}
	> .x-item__section--thumbnail:last-of-type {
		@apply -mr-4;
	}
}

.x-item__section--main.x-item__section--thumbnail {
	@apply ml-0 -mr-4;
}
.x-list--separator .x-item + .x-item {
	@apply border-t border-t-separator;
}

.x-item__label {
	@apply max-w-full;
	&--header {
		@apply p-4 text-white/65;
	}
	&--overline {
		@apply text-white/70;
	}
	&--caption {
		@apply text-white/55;
	}
	&--lines {
		@apply truncate;
	}
	& + & {
		@apply mt-1;
	}
}
