.x-progress-bar {
	@apply relative w-full overflow-hidden h-4 text-primary;
	transform: scale3d(1, 1, 1);
}

.x-progress-bar__track,
.x-progress-bar__value {
	@apply absolute left-0 top-0 bottom-0 transition-width ease-linear duration-500;
}
.x-progress-bar__track {
	@apply -z-10;
	background-color: color-mix(in srgb, currentColor 20%, transparent);
}
.x-progress-bar__value {
	background-color: color-mix(in srgb, currentColor 70%, transparent);
}

.x-progress-bar--stripe .x-progress-bar__value::after {
	@apply absolute left-0 top-0 bottom-0 right-0 bg-10;
	content: ' ';
	background-image: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.15) 25%,
		rgba(255, 255, 255, 0) 25%,
		rgba(255, 255, 255, 0) 50%,
		rgba(255, 255, 255, 0.15) 50%,
		rgba(255, 255, 255, 0.15) 75%,
		rgba(255, 255, 255, 0) 75%,
		rgba(255, 255, 255, 0)
	);
}

.x-progress-bar--animation .x-progress-bar__value::after {
	animation: x-linear-progress-indeterminate-short 2.1s
		cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

@keyframes x-linear-progress-indeterminate {
	0% {
		transform: translate3d(-35%, 0, 0) scale3d(0.35, 1, 1);
	}
	60% {
		transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
	}
	100% {
		transform: translate3d(100%, 0, 0) scale3d(0.9, 1, 1);
	}
}

@keyframes x-linear-progress-indeterminate-short {
	0% {
		transform: translate3d(-101%, 0, 0) scale3d(1, 1, 1);
	}
	60% {
		transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
	}
	100% {
		transform: translate3d(107%, 0, 0) scale3d(0.01, 1, 1);
	}
}
