// Tables

@mixin table-row-variant ($state, $background, $border: null, $color: null) {
  @include name(null, $state) {
    &,
    > th,
    > td {
      color: $color;
      background-color: $background;
    }
    @if $border != null {
      th,
      td,
      thead th,
      tbody + tbody {
        border-color: $border;
      }
    }
  }
  @at-root table {
    $hover-background: darken($background, 5%);
    @include name(null, $state) {
      @include hover() {
        background-color: $hover-background;
        > td,
        > th {
          background-color: $hover-background;
        }
      }
    }
  }
}
