.x-btn {
	@apply relative inline-flex items-center justify-center select-none cursor-pointer rounded px-6 py-2 text-base text-center font-normal uppercase box-border transition duration-200 ease-in-out border-current border-0 focus:outline-none focus-visible:outline-none disabled:!pointer-events-none disabled:!shadow-none disabled:!opacity-50 disabled:!cursor-not-allowed;
	@apply shadow-md hover:shadow-xl focus:shadow-lg active:shadow-md shadow-black/50 hover:shadow-black/60 focus:shadow-black/70 active:shadow-black/20;
	@apply active:scale-[0.97];
}

.x-btn-outline,
.x-btn-backdor {
	@apply absolute top-0 left-0 w-full h-full rounded-inherit contain-layout pointer-events-none;
}
.x-btn-outline {
	@apply hidden bg-transparent border-0 border-inherit z-20;
}
.x-btn-backdor {
	@apply z-10 bg-current opacity-0;
}

.x-btn {
	&:hover .x-btn-backdor {
		@apply opacity-10;
	}
	&:focus .x-btn-backdor {
		@apply opacity-15;
	}
	&:active .x-btn-backdor {
		@apply opacity-20;
	}
}
.x-btn--tonal {
	.x-btn-backdor {
		@apply opacity-10;
	}
	&:hover .x-btn-backdor {
		@apply opacity-20;
	}
	&:focus .x-btn-backdor {
		@apply opacity-20;
	}
	&:active .x-btn-backdor {
		@apply opacity-30;
	}
}

.x-btn--text .x-btn-backdor,
.x-btn--outline:not(.x-btn--tonal, .x-btn--plain) .x-btn-backdor {
	@apply opacity-0 !important;
}

.x-btn--outline,
.x-btn--tonal,
.x-btn--plain,
.x-btn--text {
	@apply bg-transparent !important;
}
.x-btn--flat {
	@apply shadow-none !important;
}

.x-btn--outline .x-btn-outline {
	@apply block border border-inherit;
}

.x-btn--text,
.x-btn--plain {
	.x-btn-content {
		@apply opacity-80;
	}
	&:hover .x-btn-content,
	&.x-btn--selected .x-btn-content {
		@apply opacity-100;
	}
}

.x-btn--selected.x-btn--tonal .x-btn-backdor {
	@apply opacity-30 !important;
}
.x-btn--selected .x-btn-backdor {
	@apply opacity-20 !important;
}
.x-btn--selected {
	@apply shadow-md shadow-black/30 !important;
}

.x-btn--xs {
	@apply rounded px-2 py-1 text-xs;
}
.x-btn--sm {
	@apply rounded px-4 py-1 text-sm;
}
.x-btn--lg {
	@apply rounded px-7 py-3 text-lg;
}
.x-btn--icon {
	@apply px-2;
}
.x-btn--icon.x-btn--xs {
	@apply px-1;
}
.x-btn--icon.x-btn--sm {
	@apply px-1;
}
.x-btn--icon.x-btn--lg {
	@apply px-3;
}
.x-btn--block {
	@apply block w-full;
}
.x-btn--rounded {
	@apply rounded-full;
}
.x-btn--square {
	@apply rounded-none;
}
.x-btn--round {
	@apply p-0 rounded-[50%] min-w-8 min-h-8;
}

.x-btn:where(
		.x-btn--primary,
		.x-btn--secondary,
		.x-btn--accent,
		.x-btn--positive,
		.x-btn--negative,
		.x-btn--info,
		.x-btn--warning,
		.x-btn--surface,
		.x-btn--dark,
		.x-btn--dimmed
	) {
	@apply text-white;
}
$colors: primary, secondary, accent, positive, negative, info, warning, surface, dark;

@each $color in $colors {
	.x-btn--#{$color} {
		@apply bg-#{$color} border-#{$color}/85;
	}
	.x-btn--#{$color}:where(.x-btn--tonal, .x-btn--outline, .x-btn--text, .x-btn--plain) {
		@apply text-#{$color};
	}
}

.x-btn--dimmed {
	@apply bg-dimmed !important;
}
.x-btn--dimmed .x-btn-outline {
	@apply border-separator bg-transparent;
}
