.x-input {
	@apply relative flex border-divider rounded;
}
.x-input-before,
.x-input-after,
.x-input-prepend,
.x-input-append {
	@apply flex items-center content-center;
}
.x-input-before {
	@apply mr-2;
}
.x-input-after {
	@apply ml-2;
}
.x-input-prepend,
.x-input-append {
	@apply px-2;
}

.x-input-container,
.x-input-control {
	@apply relative flex-1 flex border-inherit rounded-inherit;
}

.x-input-native {
	@apply block w-full bg-transparent px-2 pt-6 pb-2 outline-none transition-all ease-in-out duration-200 placeholder:opacity-0 focus:placeholder:opacity-100 focus:outline-none;
}
.x-input-label {
	@apply pointer-events-none opacity-70 truncate absolute ml-2 left-0 top-1/2 max-w-[calc(100%-2rem)] -translate-y-1/2 transition-all ease-in-out duration-200;
}
.x-input:has(input:focus) .x-input-label {
	@apply opacity-100;
}

.x-input-control:not(:has(*.x-input-label)) .x-input-native {
	@apply py-4;
}
.x-input--stack-label .x-input-native {
	@apply placeholder:opacity-100;
}
.x-input--stack-label .x-input-native ~ .x-input-label,
.x-input-native:focus ~ .x-input-label,
.x-input-native:not(:placeholder-shown) ~ .x-input-label {
	@apply text-[0.8em] top-4;
}

.x-input--dense {
	.x-input-native {
		@apply pt-3 pb-1;
	}
	.x-input-native:focus ~ .x-input-label,
	.x-input-native:not(:placeholder-shown) ~ .x-input-label {
		@apply text-[0.8em] top-2;
	}
	.x-input-control:not(:has(*.x-input-label)) .x-input-native {
		@apply py-2;
	}
}
.x-input--dense.x-input--stack-label .x-input-native ~ .x-input-label {
	@apply text-[0.8em] top-2;
}

.x-input-backdor {
	@apply absolute hidden top-0 left-0 w-full h-full rounded-inherit text-black contain-layout box-border -z-10;
	background-color: color-mix(in srgb, currentColor 20%, transparent);
}
.x-input-underlined {
	@apply absolute hidden bottom-0 left-0 w-full rounded-inherit contain-layout box-border border-b border-inherit;
	z-index: -1;
}

.x-input-outline {
	@apply hidden border-inherit rounded-inherit items-stretch pointer-events-none h-full w-full absolute top-0 left-0 right-0 transition-border ease-in-out duration-200;
}
.x-input-outline > * {
	@apply border-y border-inherit transition-border ease-in-out duration-200;
}
.x-input-outline > *:first-child {
	@apply border-l rounded-l-inherit;
}
.x-input-outline > *:last-child {
	@apply border-r rounded-r-inherit;
}
.x-input-outline-start {
	@apply flex-[0_0_0.75rem];
}
.x-input-outline-notch {
	@apply flex-none max-w-[calc(100%-0.75rem)];
}
.x-input-outline-end {
	@apply flex-[1];
}
.x-input-outline .x-input-label {
	@apply invisible text-[0.8em] mx-1 relative -top-[calc(50%-0.4em)];
}
.x-input--outline .x-input-outline {
	@apply flex;
}

.x-input--outline.x-input--dense {
	.x-input-control .x-input-native {
		@apply py-2;
	}
	.x-input-control:has(input:focus) .x-input-label,
	.x-input-control:has(input:not(:placeholder-shown)) .x-input-label {
		@apply top-0 ml-4;
	}

	.x-input-control:has(input:focus) ~ .x-input-outline > .x-input-outline-notch,
	.x-input-control:has(input:not(:placeholder-shown))
		~ .x-input-outline
		> .x-input-outline-notch {
		@apply border-t-transparent;
	}
}

.x-input--dense.x-input--outline.x-input--stack-label {
	.x-input-control .x-input-native {
		@apply py-2;
	}
	.x-input-control .x-input-label {
		@apply top-0 ml-4;
	}
	.x-input-outline .x-input-outline-notch {
		@apply border-t-transparent;
	}
}

.x-input--square {
	@apply rounded-none;
}

.x-input--underlined .x-input-underlined {
	@apply block;
}
.x-input--underlined:has(input:focus) .x-input-underlined {
	@apply border-b-3;
}

.x-input--disabled {
	@apply opacity-50 cursor-not-allowed;
}
.x-input--disabled .x-input-native {
	@apply pointer-events-none;
}

.x-input:has(input:focus) {
	@apply border-blue-600;
}
.x-input--field .x-input-backdor {
	@apply block;
}

$colors: primary, secondary, accent, positive, negative, info, warning, surface, dark;

@each $color in $colors {
	.x-input--#{$color}:has(input:focus) {
		@apply border-#{$color};
	}
	.x-input--#{$color} .x-input-backdor {
		@apply text-#{$color};
	}
}
