//message
$messageMargin: 1rem 0 !default;
$messagePadding: 1rem 1.5rem !default;
$messageBorderWidth: 0 0 0 6px !default;
$messageIconFontSize: 1.5rem !default;
$messageTextFontSize: 1rem !default;
$messageTextFontWeight: 500 !default;

//inline message
$inlineMessagePadding: $inputPadding !default;
$inlineMessageMargin: 0 !default;
$inlineMessageIconFontSize: 1rem !default;
$inlineMessageTextFontSize: 1rem !default;
$inlineMessageBorderWidth: 1px !default;

//toast
$toastIconFontSize: 2rem !default;
$toastMessageTextMargin: 0 0 0 1rem !default;
$toastMargin: 0 0 1rem 0 !default;
$toastPadding: 1rem !default;
$toastBorderWidth: 0 0 0 6px !default;
$toastShadow: none !default;
$toastOpacity: .9 !default;
$toastTitleFontWeight: 700 !default;
$toastDetailMargin: $inlineSpacing 0 0 0 !default;

//severities
$infoMessageBg: #B3E5FC !default;
$infoMessageBorder: solid scale-color($infoMessageBg, $lightness: -50%) !default;
$infoMessageTextColor: scale-color($infoMessageBg, $lightness: -75%) !default;
$infoMessageIconColor: scale-color($infoMessageBg, $lightness: -75%) !default;
$successMessageBg: #C8E6C9 !default;
$successMessageBorder: solid scale-color($successMessageBg, $lightness: -50%) !default;
$successMessageTextColor: scale-color($successMessageBg, $lightness: -75%) !default;
$successMessageIconColor: scale-color($successMessageBg, $lightness: -75%) !default;
$warningMessageBg: #FFECB3 !default;
$warningMessageBorder: solid scale-color($warningMessageBg, $lightness: -50%) !default;
$warningMessageTextColor: scale-color($warningMessageBg, $lightness: -75%) !default;
$warningMessageIconColor: scale-color($warningMessageBg, $lightness: -75%) !default;
$errorMessageBg: #FFCDD2 !default;
$errorMessageBorder: solid scale-color($errorMessageBg, $lightness: -50%) !default;
$errorMessageTextColor: scale-color($errorMessageBg, $lightness: -75%) !default;
$errorMessageIconColor: scale-color($errorMessageBg, $lightness: -75%) !default;