@import "../vars/colors";

@function color ($key: "blue", $w: 'base') {
  @if type-of($w) == "number" {
    @if $w > 0 {
      $w: "lighten-"#{$w}
    } @else if $w < 0 {
      $w: "darken-"#{-$w}
    } @else if $w == 0 {
      $w: 'base'
    }
  }
  @return map-get(map-get($colors, $key), $w);
}
@function theme-color ($key: "primary") {
  @return map-get($theme-colors, $key);
}
@function gray ($key: "100") {
  @return map-get($grays, $key);
}