.x-btn-group {
	@apply flex;
}
.x-btn-group > * {
	@apply shadow-none !important;
}

.x-btn-group--spread > * {
	@apply flex-auto;
}

.x-btn-group:not(.x-btn-group--vertical):not(.x-btn-group--round) > * {
	&:not(:first-child) {
		@apply -ml-[1px] rounded-l-none;
	}
	&:not(:last-child) {
		@apply rounded-r-none;
	}
}
.x-btn-group--separator:not(.x-btn-group--vertical) {
	.x-btn:not(:first-child) {
		.x-btn-outline {
			@apply block border-l;
		}
	}
}
.x-btn-group--vertical {
	@apply flex-col;
}

.x-btn-group--vertical:not(.x-btn-group--round) > * {
	&:not(:first-child) {
		@apply -mt-[1px] rounded-t-none;
	}
	&:not(:last-child) {
		@apply rounded-b-none;
	}
}
.x-btn-group--vertical.x-btn-group--separator {
	.x-btn:not(:first-child) {
		.x-btn-outline {
			@apply block border-t;
		}
	}
}
.x-btn-group--round {
	@apply space-x-2;
}
.x-btn-group--round.x-btn-group--vertical {
	@apply inline-flex space-y-2;
}
