.board {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: calc(64px*8);
    height: calc(64px*8);
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background-color: #333;
}

.white {
    background-color: #eee;

}

.selected {
    background-color: rgb(26, 238, 114);
}

.available:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #0f0;
}

.attack {
    background-color: #0f0;
}

.area {
    display: flex;
    flex-direction: row;
}

.lost {
    width: 64px;
    height: 64px;
}

.lost-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(64px*3);
}