:root {
  --accent-color-hue: 236;
  --accent-color-saturation: 100%;
  --disabled-color: #cfcfcf;
  --error-color: #d40000;
  --dimmed-bg: rgba(0, 0, 0, .4);
  --separator-color: rgba(255, 255, 255, .15);
  --primary: #1976d2;
  --secondary: #5cbbf6;
  --accent: #9C27B0;
  --dark: #1d1d1d;
  --positive: #4caf50;
  --negative: #dc3545;
  --info: #2196f3;
  --warning: #fb8c00;
  --success: #4caf50;
  --error: #d40000;
  --white: #fff;
  --black: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection,
*::selection {
  color: #eee;
  background: #006a9b;
}

html {
  font-family: sans-serif;
  line-height: normal;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  background: #002650;
  color: rgba(255, 255, 255, 0.7);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0 none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

dd:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #00aeff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

code,
kbd,
pre,
samp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border: 0 none;
}

svg:not(:root) {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input,
button,
select,
optgroup,
textarea {
  font: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

option {
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  text-indent: 0.35em;
}

optgroup {
  text-indent: 0.3em;
}

optgroup option {
  text-indent: -0.45em;
}

[role=button] {
  cursor: pointer;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
html input[type=button] {
  -webkit-appearance: button;
}

button:not(:disabled),
input[type=button]:not(:disabled),
input[type=reset]:not(:disabled),
input[type=submit]:not(:disabled),
html input[type=button]:not(:disabled) {
  cursor: pointer;
}

button[disabled],
input[type=button][disabled],
input[type=reset][disabled],
input[type=submit][disabled],
html input[type=button][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
html input[type=button]::-moz-focus-inner {
  padding: 0;
  border: 0 none transparent;
}

button:-moz-focusring,
input[type=button]:-moz-focusring,
input[type=reset]:-moz-focusring,
input[type=submit]:-moz-focusring,
html input[type=button]:-moz-focusring {
  outline: 1px dotted currentColor;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  -webkit-appearance: listbox;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  outline-offset: -2px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

:-moz-ui-invalid {
  box-shadow: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0 none;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

optgroup {
  font-weight: bold;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

audio,
canvas,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}



small {
  font-size: 80%;
  font-weight: 400;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

abbr {
  font-size: 90%;
  text-transform: uppercase;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.text-muted {
  color: rgba(255, 255, 255, 0.3);
}

br,
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr {
  border: 0 none transparent;
  border-top: 1px solid rgba(var(--separator-color), 0.1);
}

blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

blockquote footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

blockquote footer::before {
  content: "— ";
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 23%;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 25%;
  }
}

.clearfix:before,
.dl-horizontal dd:before,
.clearfix:after,
.dl-horizontal dd:after {
  display: table;
  content: "";
  overflow: hidden;
}

.clearfix:after,
.dl-horizontal dd:after {
  clear: both;
  height: 0;
}

code {
  font-size: 87.5%;
  color: #e91e63;
  word-wrap: break-word;
}

a>code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
  box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.25);
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
  box-shadow: none;
}

pre {
  display: block;
  font-size: 87.5%;
  color: rgba(255, 255, 255, 0.7);
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  display: inline-block;
}

figure img {
  margin-bottom: 0.5rem;
  line-height: 1;
}

figure figcaption {
  font-size: 90%;
  color: #6c757d;
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
}

table thead th {
  vertical-align: bottom;
}